In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("BL-Flickr-Images-Book.csv")

In [4]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [5]:
df.shape

(8287, 15)

In [6]:
df.isnull()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
1,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
2,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
3,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,False,True,False,False,True,False,False,False,True,True,True,True,False,False,False
8283,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8284,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8285,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8286,False,True,False,False,True,False,True,False,True,True,True,True,False,False,False

In [8]:
df.isnull().any()

Identifier                False
Edition Statement          True
Place of Publication      False
Date of Publication        True
Publisher                  True
Title                     False
Author                     True
Contributors              False
Corporate Author           True
Corporate Contributors     True
Former owner               True
Engraver                   True
Issuance type             False
Flickr URL                False
Shelfmarks                False
dtype: bool

In [15]:
df.isnull().sum()

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [19]:
df = df.drop(columns=['Engraver'])

In [22]:
df.isnull().sum()

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [38]:
df['Identifier'].is_unique

True

In [45]:
df.duplicated().any()

False

In [48]:
df[df.isnull()]

<ipython-input-48-25395885f525>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.isnull().any()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).